.listaTarefas {
  display: flex;
    grid-area: tarefas;
    height: 100vh;
    width:37vw;
    margin: 0 1rem;
    box-sizing:border-box;
    flex-direction: column;
    background-color: #12567A;
    padding: 2rem;
  
    ul {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 35rem;
      height: 100vh;
      overflow-y: scroll;
      scrollbar-width: thin;
      li{
        display: flex;
        justify-content: space-between;
      }
    }
  
    @media screen and (min-width:1280px) {
      
      h2{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
      }
  
      ul {
        overflow: auto;
      }
    }
  }
  
  