.AppStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 320px;
    min-height: calc(100vh - 32px);
    width: 90%;
    height: 20rem;
    box-sizing: border-box;
    border-radius: 10px;
  
    @media screen and (min-width:1280px)  {
      grid-template-areas: 
      "nova-tarefa tarefas"
      "cronometro tarefas"
      ;
      column-gap: 64px;
      grid-template-rows: min-content min-content;
      grid-template-columns: 750px 300px;
      justify-content: center;
      align-content: center;
      padding: 10px;
    }
  }